uniprot_sprot.fasta
ngs/SRR21901339.fastq
ngs/gatk-4.3.0.0/gatk-package-4.3.0.0-local.jar
ngs/gatk-4.3.0.0/gatk-package-4.3.0.0-spark.jar
ngs/SRR21901339_qc.fastq
GenomeAssembly/pacbio.fastq
GenomeAssembly/ecoli_filtered_12.5X.fastq
GenomeAssembly/ecoli-pacbio/ecoli.seqStore/blobs.0003
GenomeAssembly/ecoli-pacbio/unitigging/ecoli.ctgStore/partition.0001
RNAseq/__pycache__/*
RNAseq/bowtie2.sam
notebooks/.ipynb_checkpoints*
